@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:300,regular,600,700,800,900);

@charset "UTF-8";

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.card-news__img-cover-wrapper::before,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-agreement:before {
  content: "\e900";
}

._icon-arrowleft:before {
  content: "\e901";
}

._icon-arrowright:before {
  content: "\e902";
}

._icon-business:before {
  content: "\e903";
}

._icon-close_icon:before {
  content: "\e904";
}

._icon-exit:before {
  content: "\e905";
}

._icon-feather:before {
  content: "\e906";
}

._icon-home:before {
  content: "\e907";
}

._icon-line:before {
  content: "\e908";
}

._icon-mail:before {
  content: "\e909";
}

._icon-map:before {
  content: "\e90a";
}

._icon-menu_burger:before {
  content: "\e90b";
}

._icon-phone:before {
  content: "\e90c";
}

._icon-profile:before {
  content: "\e90d";
}

._icon-projects:before {
  content: "\e90e";
}

._icon-request:before {
  content: "\e90f";
}

._icon-show:before {
  content: "\e910";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #222222;
  line-height: 1;
  font-family: "Nunito Sans";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Nunito Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #f7f7f7;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[data-fullscreen] {
  min-height: 100vh;
}

.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 82.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
}

[class*=__container][class*=__container_slider] {
  padding: 0;
  max-width: 1350px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 121%;
  text-transform: uppercase;
  padding: 14px 22px;
  background-color: #4f8ff0;
  color: #fff;
  border: 2px solid #4f8ff0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button:hover {
  background-color: #fff;
  color: #4f8ff0;
}

.button._fw {
  width: 100%;
}

.button_secondary {
  color: #000;
  border: 2px solid #e6e6e6;
  background-color: #e6e6e6;
}

.button_secondary:hover {
  background-color: #fff;
  color: #000;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

._primary-color {
  color: #4f8ff0;
}

.title {
  text-align: center;
}

.title > * {
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

@supports (font-size: clamp( 1.25rem , 0.974137931rem  +  0.9195402299vw , 1.75rem )) {
  .title > * {
    font-size: clamp( 1.25rem , 0.974137931rem  +  0.9195402299vw , 1.75rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.974137931rem  +  0.9195402299vw , 1.75rem )) {
  .title > * {
    font-size: calc(1.25rem + 0.5 * (100vw - 30rem) / 54.375);
  }
}

.title > *::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #4f8ff0;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card {
  height: auto !important;
  -webkit-transition: all 0.3s ease 0s !important;
  transition: all 0.3s ease 0s !important;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  padding: 50px 32px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__angles-left::before,
.card__angles-left::after,
.card__angles-right::before,
.card__angles-right::after {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  position: absolute;
  display: inline-block;
  width: 35px;
  height: 35px;
  content: "";
  background: url("../img/angle.svg") center/100% no-repeat;
}

.card__angles-left::before {
  top: -5px;
  left: -5px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.card__angles-left::after {
  bottom: -5px;
  left: -5px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.card__angles-right::before {
  top: -5px;
  right: -5px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.card__angles-right::after {
  bottom: -5px;
  right: -5px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card__icon::before {
  font-size: 2.1875rem;
  color: #4f8ff0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card__icon:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.card__title {
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 150%;
}

.card__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.card__text {
  font-size: 0.875rem;
  line-height: 120%;
}

.header {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
}

.top-header {
  font-size: 0.875rem;
  background-color: #010101;
  color: #fff;
  padding: 16px 0;
}

.top-header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header__links-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  line-height: 120%;
}

.top-header__links-item::before {
  font-size: 1.25rem;
  color: #4f8ff0;
}

.top-header__call-request-link {
  font-weight: 700;
  line-height: 150%;
  color: #4f8ff0;
}

.top-header__call-request-link:hover {
  text-decoration: underline;
}

.bottom-header {
  background-color: rgba(1, 1, 1, 0.76);
}

.bottom-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (padding-top: clamp( 1.5rem , 0.4648328691rem  +  1.6713091922vw , 1.875rem )) {
  .bottom-header__container {
    padding-top: clamp( 1.5rem , 0.4648328691rem  +  1.6713091922vw , 1.875rem );
  }
}

@supports not (padding-top: clamp( 1.5rem , 0.4648328691rem  +  1.6713091922vw , 1.875rem )) {
  .bottom-header__container {
    padding-top: calc(1.5rem + 0.375 * (100vw - 61.9375rem) / 22.4375);
  }
}

@supports (padding-bottom: clamp( 1.5rem , 0.4648328691rem  +  1.6713091922vw , 1.875rem )) {
  .bottom-header__container {
    padding-bottom: clamp( 1.5rem , 0.4648328691rem  +  1.6713091922vw , 1.875rem );
  }
}

@supports not (padding-bottom: clamp( 1.5rem , 0.4648328691rem  +  1.6713091922vw , 1.875rem )) {
  .bottom-header__container {
    padding-bottom: calc(1.5rem + 0.375 * (100vw - 61.9375rem) / 22.4375);
  }
}

.logo {
  font-size: 1.75rem;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.logo__main {
  color: #4f8ff0;
  text-transform: uppercase;
}

.logo__sub {
  font-size: 0.7142857143em;
  color: #fff;
}

.icon-menu-close {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-open .menu__body {
  top: 0;
}

.menu__list {
  font-size: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 1rem 2rem;
}

.menu__link {
  color: #fff;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link:hover {
  color: #4f8ff0;
  text-decoration: underline;
}

.menu__link._navigator-active {
  color: #4f8ff0;
}

.icon-menu {
  display: none;
}

.footer {
  color: #fff;
  line-height: 120%;
  background-color: #222222;
}

@supports (padding-top: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem )) {
  .footer {
    padding-top: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem )) {
  .footer {
    padding-top: calc(2.5rem + 2.5 * (100vw - 30rem) / 54.375);
  }
}

.footer__tagline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 48px;
  gap: 182px;
  border-bottom: 1px solid rgba(140, 140, 140, 0.2);
}

@supports (padding-bottom: clamp( 1.5rem , -2.656424581rem  +  6.7039106145vw , 3rem )) {
  .footer__tagline {
    padding-bottom: clamp( 1.5rem , -2.656424581rem  +  6.7039106145vw , 3rem );
  }
}

@supports not (padding-bottom: clamp( 1.5rem , -2.656424581rem  +  6.7039106145vw , 3rem )) {
  .footer__tagline {
    padding-bottom: calc(1.5rem + 1.5 * (100vw - 62rem) / 22.375);
  }
}

.footer__text {
  text-transform: lowercase;
  color: #f8f5f4;
}

.footer__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  gap: 40px 24px;
}

@supports (padding-top: clamp( 1.5rem , -2.656424581rem  +  6.7039106145vw , 3rem )) {
  .footer__main {
    padding-top: clamp( 1.5rem , -2.656424581rem  +  6.7039106145vw , 3rem );
  }
}

@supports not (padding-top: clamp( 1.5rem , -2.656424581rem  +  6.7039106145vw , 3rem )) {
  .footer__main {
    padding-top: calc(1.5rem + 1.5 * (100vw - 62rem) / 22.375);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem )) {
  .footer__main {
    padding-bottom: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem )) {
  .footer__main {
    padding-bottom: calc(2.5rem + 2.5 * (100vw - 30rem) / 54.375);
  }
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@supports (padding-left: clamp( 3.125rem , -8.3051675978rem  +  18.4357541899vw , 7.25rem )) {
  .footer__links {
    padding-left: clamp( 3.125rem , -8.3051675978rem  +  18.4357541899vw , 7.25rem );
  }
}

@supports not (padding-left: clamp( 3.125rem , -8.3051675978rem  +  18.4357541899vw , 7.25rem )) {
  .footer__links {
    padding-left: calc(3.125rem + 4.125 * (100vw - 62rem) / 22.375);
  }
}

.footer__link {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
}

.footer__link:hover {
  color: #4f8ff0;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 55px;
  background-color: #2c2c2c;
}

.contact__icon::before {
  font-size: 2rem;
  color: #fff;
}

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
}

.contact__label {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #8c8c8c;
}

.contact__value {
  line-height: 150%;
}

.leading-lawyer__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.leading-lawyer__img {
  max-height: 65px;
  max-width: 65px;
}

.leading-lawyer__img img {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.leading-lawyer__name-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.leading-lawyer__name {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 150%;
}

.leading-lawyer__post {
  font-size: 0.875rem;
  font-weight: 300;
}

.leading-lawyer__text {
  font-size: 0.875rem;
  line-height: 150%;
}

.leading-lawyer__button {
  margin-top: 24px !important;
}

.subfooter {
  padding: 16px 0;
  background-color: #181818;
  font-size: 0.875rem;
}

.subfooter__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subfooter__personal-data-link {
  -webkit-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
}

.subfooter__personal-data-link:hover {
  color: #4f8ff0;
}

@supports (margin-top: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem )) {
  .page__services {
    margin-top: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem );
  }
}

@supports not (margin-top: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem )) {
  .page__services {
    margin-top: calc(2.5rem + 2.5 * (100vw - 30rem) / 54.375);
  }
}

@supports (margin-top: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem )) {
  .page__about {
    margin-top: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem );
  }
}

@supports not (margin-top: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem )) {
  .page__about {
    margin-top: calc(2.5rem + 2.5 * (100vw - 30rem) / 54.375);
  }
}

@supports (margin-top: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem )) {
  .page__staff {
    margin-top: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem );
  }
}

@supports not (margin-top: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem )) {
  .page__staff {
    margin-top: calc(2.5rem + 2.5 * (100vw - 30rem) / 54.375);
  }
}

@supports (margin-top: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem )) {
  .page__clients {
    margin-top: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem );
  }
}

@supports not (margin-top: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem )) {
  .page__clients {
    margin-top: calc(2.5rem + 2.5 * (100vw - 30rem) / 54.375);
  }
}

@supports (padding-top: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem )) {
  .page__news {
    padding-top: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem )) {
  .page__news {
    padding-top: calc(2.5rem + 2.5 * (100vw - 30rem) / 54.375);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem )) {
  .page > *:last-child {
    padding-bottom: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem )) {
  .page > *:last-child {
    padding-bottom: calc(2.5rem + 2.5 * (100vw - 30rem) / 54.375);
  }
}

.main-slider {
  position: relative;
  overflow: hidden;
}

.main-slider__slide {
  position: relative;
}

.main-slider__slide img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.main-slider .swiper-slide {
  text-align: center;
}

.main-slider .swiper-slide__content {
  position: relative;
  z-index: 2;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-transition: height 0.3s ease 0s;
  transition: height 0.3s ease 0s;
  height: 100lvh;
  width: 100%;
  max-width: 1090px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  margin: 0 auto;
}

.main-slider .swiper-slide__content h2 {
  color: #4f8ff0;
}

.main-slider .swiper-slide__pre-title {
  color: #fff;
  font-weight: 300;
  line-height: 150%;
  text-transform: uppercase;
}

@supports (font-size: clamp( 1.125rem , 0.7112068966rem  +  1.3793103448vw , 1.875rem )) {
  .main-slider .swiper-slide__pre-title {
    font-size: clamp( 1.125rem , 0.7112068966rem  +  1.3793103448vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.7112068966rem  +  1.3793103448vw , 1.875rem )) {
  .main-slider .swiper-slide__pre-title {
    font-size: calc(1.125rem + 0.75 * (100vw - 30rem) / 54.375);
  }
}

.main-slider .swiper-slide__title {
  color: #4f8ff0;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
}

@supports (font-size: clamp( 1.875rem , 0.9784482759rem  +  2.9885057471vw , 3.5rem )) {
  .main-slider .swiper-slide__title {
    font-size: clamp( 1.875rem , 0.9784482759rem  +  2.9885057471vw , 3.5rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 0.9784482759rem  +  2.9885057471vw , 3.5rem )) {
  .main-slider .swiper-slide__title {
    font-size: calc(1.875rem + 1.625 * (100vw - 30rem) / 54.375);
  }
}

.main-slider .swiper-slide__text {
  color: #fff;
  line-height: 120%;
}

@supports (font-size: clamp( 1rem , 0.8620689655rem  +  0.4597701149vw , 1.25rem )) {
  .main-slider .swiper-slide__text {
    font-size: clamp( 1rem , 0.8620689655rem  +  0.4597701149vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.8620689655rem  +  0.4597701149vw , 1.25rem )) {
  .main-slider .swiper-slide__text {
    font-size: calc(1rem + 0.25 * (100vw - 30rem) / 54.375);
  }
}

.main-slider .swiper-slide__button {
  margin-top: 40px;
}

.main-slider .swiper-control {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  right: 0;
}

.main-slider .swiper-control__content {
  position: relative;
}

.main-slider .swiper-pagination {
  height: 40px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  position: absolute;
  bottom: 36px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}

.main-slider .swiper-pagination-bullet {
  width: 4px;
  height: 24px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.main-slider .swiper-pagination-bullet-active {
  height: 40px;
  background-color: #4f8ff0;
}

.main-slider .swiper-buttons {
  position: absolute;
  bottom: 36px;
  right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  height: 30px;
}

.main-slider .swiper-buttons-separator::before {
  font-size: 2rem;
  color: #fff;
}

.main-slider .swiper-button-prev::before,
.main-slider .swiper-button-next::before {
  font-size: 1.25rem;
  color: #4f8ff0;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.main-slider .swiper-button-prev:not(.main-slider .swiper-button-prev.swiper-button-disabled,
.main-slider .swiper-button-next.swiper-button-disabled),
.main-slider .swiper-button-next:not(.main-slider .swiper-button-prev.swiper-button-disabled,
.main-slider .swiper-button-next.swiper-button-disabled) {
  cursor: pointer;
}

.main-slider .swiper-button-prev:not(.main-slider .swiper-button-prev.swiper-button-disabled,
.main-slider .swiper-button-next.swiper-button-disabled):hover::before,
.main-slider .swiper-button-next:not(.main-slider .swiper-button-prev.swiper-button-disabled,
.main-slider .swiper-button-next.swiper-button-disabled):hover::before {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  color: #87afec;
}

.main-slider .swiper-button-prev.swiper-button-disabled,
.main-slider .swiper-button-next.swiper-button-disabled {
  cursor: default;
}

.main-slider .swiper-button-prev.swiper-button-disabled::before,
.main-slider .swiper-button-next.swiper-button-disabled::before {
  color: #e6e6e6;
}

.services {
  text-align: center;
}

@supports (margin-top: clamp( 1rem , 0.25rem  +  2.5vw , 1.5rem )) {
  .services__description {
    margin-top: clamp( 1rem , 0.25rem  +  2.5vw , 1.5rem );
  }
}

@supports not (margin-top: clamp( 1rem , 0.25rem  +  2.5vw , 1.5rem )) {
  .services__description {
    margin-top: calc(1rem + 0.5 * (100vw - 30rem) / 20);
  }
}

.services__description p:not(:last-child) {
  margin-bottom: 1.0625rem;
}

@supports (margin-top: clamp( 1.5rem , -0.75rem  +  7.5vw , 3rem )) {
  .services__list {
    margin-top: clamp( 1.5rem , -0.75rem  +  7.5vw , 3rem );
  }
}

@supports not (margin-top: clamp( 1.5rem , -0.75rem  +  7.5vw , 3rem )) {
  .services__list {
    margin-top: calc(1.5rem + 1.5 * (100vw - 30rem) / 20);
  }
}

.services__button {
  margin-top: 48px;
}

.list-services__slider {
  overflow: hidden;
}

.list-services__grid {
  display: none;
}

.about {
  background-color: #fff;
}

@supports (padding-top: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem )) {
  .about {
    padding-top: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem )) {
  .about {
    padding-top: calc(2.5rem + 2.5 * (100vw - 30rem) / 54.375);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem )) {
  .about {
    padding-bottom: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem )) {
  .about {
    padding-bottom: calc(2.5rem + 2.5 * (100vw - 30rem) / 54.375);
  }
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 720px;
          flex: 0 1 720px;
}

.about__title {
  font-weight: 900;
  text-align: left;
}

.about__title > * {
  text-align: left;
}

@supports (font-size: clamp( 1.5rem , 1.3620689655rem  +  0.4597701149vw , 1.75rem )) {
  .about__title > * {
    font-size: clamp( 1.5rem , 1.3620689655rem  +  0.4597701149vw , 1.75rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.3620689655rem  +  0.4597701149vw , 1.75rem )) {
  .about__title > * {
    font-size: calc(1.5rem + 0.25 * (100vw - 30rem) / 54.375);
  }
}

.about__title > *::after {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.about__title:not(:last-child) {
  margin-bottom: 2.3125rem;
}

.about__text {
  font-size: 1rem;
  line-height: 150%;
}

.about__text p:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.about__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.about__img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 4px 4px 12px 2px rgba(33, 33, 33, 0.25);
          box-shadow: 4px 4px 12px 2px rgba(33, 33, 33, 0.25);
}

.about__buttons {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}

.staff__title:not(:last-child) {
  margin-bottom: 24px;
}

.staff__text {
  line-height: 120%;
  text-align: center;
  max-width: 57.5rem;
  margin: 0 auto;
}

.staff__text:not(:last-child) {
  margin-bottom: 48px;
}

.staff__slider {
  overflow: hidden;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.card-staff {
  width: 100%;
  max-width: 312px;
  background-color: #fff;
  position: relative;
}

.card-staff__main {
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.card-staff__img {
  height: 320px;
}

.card-staff__img img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-staff__short-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  text-align: center;
  padding: 0 16px;
  line-height: 120%;
}

.card-staff__name {
  font-weight: 700;
}

.card-staff__job-title {
  font-size: 0.875rem;
  font-weight: 300;
  text-transform: lowercase;
}

.staff-info-card {
  line-height: 120%;
  pointer-events: none;
  opacity: 0;
  padding: 20px;
  background-color: #fff;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 40px;
}

.card-staff:hover .staff-info-card {
  opacity: 1;
  -webkit-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
}

.staff-info-card__description {
  font-size: 0.875rem;
  font-weight: 300;
}

.staff-info-card__experience {
  font-weight: 600;
}

.no-webp .clients{
  background: url("../img/clients/clients_bg.jpg") bottom/cover no-repeat; }

@supports (padding-top: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem )) {
  .clients {
    padding-top: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem )) {
  .clients {
    padding-top: calc(2.5rem + 2.5 * (100vw - 30rem) / 54.375);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem )) {
  .clients {
    padding-bottom: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.1206896552rem  +  4.5977011494vw , 5rem )) {
  .clients {
    padding-bottom: calc(2.5rem + 2.5 * (100vw - 30rem) / 54.375);
  }
}

.clients__container_slider {
  padding: 0;
  max-width: 1350px;
}

.clients__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__top:not(:last-child) {
  margin-bottom: 48px;
}

.clients__title > * {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-align: left;
}

.clients__title > *::after {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.clients__slider-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

.clients__slider-navigation > *::before {
  color: #4f8ff0;
}

.clients__slider-navigation .swiper-button-prev,
.clients__slider-navigation .swiper-button-next {
  font-size: 1.25rem;
  -webkit-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
}

.clients__slider-navigation .swiper-button-prev:not(.swiper-button-disabled):hover,
.clients__slider-navigation .swiper-button-next:not(.swiper-button-disabled):hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.clients__slider-navigation .swiper-button-prev:not(.swiper-button-disabled):hover::before,
.clients__slider-navigation .swiper-button-next:not(.swiper-button-disabled):hover::before {
  color: #286fd8;
}

.clients__slider-navigation .swiper-button-prev.swiper-button-disabled::before,
.clients__slider-navigation .swiper-button-next.swiper-button-disabled::before {
  color: #98b8e7;
}

.clients__slider-navigation .swiper-buttons-separator {
  font-size: 2rem;
}

.clients__slider {
  margin-bottom: 32px;
}

.clients__wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

.clients__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px 24px;
}

.card-clients {
  height: 100%;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(33, 33, 33, 0.15);
          box-shadow: 2px 2px 10px 0px rgba(33, 33, 33, 0.15);
  line-height: 150%;
  padding: 32px;
}

.card-clients__client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}

.card-clients__client:not(:last-child) {
  margin-bottom: 1rem;
}

.card-clients__avatar {
  height: 100%;
  width: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.card-clients__avatar img {
  width: 100%;
  height: 100%;
}

.card-clients__who {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}

.card-clients__company {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 120%;
}

.card-clients__name {
  font-size: 1.25rem;
  font-weight: 700;
}

.card-clients__decor {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card-clients__decor::before {
  font-size: 3.4375rem;
  color: #e9e9e9;
  text-align: right;
}

.card-clients__comment {
  font-size: 0.875rem;
}

.news {
  background-color: #fff;
  text-align: center;
}

.news__text {
  margin-top: 24px;
  text-align: center;
  line-height: 120%;
  margin-bottom: 48px;
}

.news__slide {
  max-width: 424px;
}

.card-news:hover {
  cursor: pointer;
}

.card-news__image-ibg {
  position: relative;
  padding-bottom: 63.679245283%;
}

.card-news__img-cover-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(79, 143, 240, 0.4);
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.card-news:hover .card-news__img-cover-wrapper {
  -webkit-transition: all 0.2s ease 0.2s;
  transition: all 0.2s ease 0.2s;
  opacity: 1;
}

.card-news__img-cover-wrapper::before {
  content: "\e910";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-color: #fff;
  font-size: 1.25rem;
  color: #4f8ff0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}

.card-news:hover .card-news__img-cover-wrapper::before {
  opacity: 1;
  -webkit-transition: all 0.2s ease 0.2s;
  transition: all 0.2s ease 0.2s;
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.card-news__img-cover {
  position: relative;
  width: 100%;
  height: 100%;
}

.card-news__angles-left,
.card-news__angles-right {
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-news__angles-left::before,
.card-news__angles-left::after,
.card-news__angles-right::before,
.card-news__angles-right::after {
  z-index: 3;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  position: absolute;
  display: inline-block;
  width: 35px;
  height: 35px;
  content: "";
  background: url("../img/angle.svg") center/100% no-repeat;
}

.card-news__angles-left::before {
  top: -5px;
  left: -5px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.card-news__angles-left::after {
  bottom: -5px;
  left: -5px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.card-news__angles-right::before {
  top: -5px;
  right: -5px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.card-news__angles-right::after {
  bottom: -5px;
  right: -5px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card-news__content {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

.card-news__title {
  font-weight: 700;
  line-height: 150%;
}

.card-news:hover .card-news__title {
  color: #4f8ff0;
}

.card-news__date {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 120%;
}

.card-news__text {
  font-size: 0.875rem;
  line-height: 120%;
}

.swiper-slide {
  height: auto !important;
}

/**
 * Swiper 10.0.4
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2023 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: July 8, 2023
 */

/* FONT_START */

@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}

/* FONT_END */

:root {
  --swiper-theme-color: #007aff;
  /*
  --swiper-preloader-color: var(--swiper-theme-color);
  --swiper-wrapper-transition-timing-function: initial;
  */
}

:host {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  overflow: clip;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  display: block;
}

.swiper-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
          transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-horizontal {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-vertical {
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  display: block;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

.swiper-backface-hidden .swiper-slide {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* 3D Effects */

.swiper-3d.swiper-css-mode .swiper-wrapper {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.swiper-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.swiper-3d {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.swiper-3d .swiper-slide,
.swiper-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/* CSS Mode */

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-css-mode.swiper-horizontal > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.swiper-css-mode.swiper-vertical > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.swiper-css-mode.swiper-free-mode > .swiper-wrapper {
  -ms-scroll-snap-type: none;
      scroll-snap-type: none;
}

.swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: none;
}

.swiper-css-mode.swiper-centered > .swiper-wrapper::before {
  content: "";
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-ordinal-group: 10000;
      -ms-flex-order: 9999;
          order: 9999;
}

.swiper-css-mode.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}

.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
          margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
          margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

/* Slide styles start */

/* 3D Shadows */

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader {
  -webkit-animation: swiper-preloader-spin 1s infinite linear;
          animation: swiper-preloader-spin 1s infinite linear;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@-webkit-keyframes swiper-preloader-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes swiper-preloader-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Slide styles end */

@media (min-width: 21.875em) {
@supports (font-size: clamp( 1.375rem , 0.3398328691rem  +  1.6713091922vw , 1.75rem )) {
    .bottom-header .logo {
      font-size: clamp( 1.375rem , 0.3398328691rem  +  1.6713091922vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 0.3398328691rem  +  1.6713091922vw , 1.75rem )) {
    .bottom-header .logo {
      font-size: calc(1.375rem + 0.375 * (100vw - 61.9375rem) / 22.4375);
    }
}

@supports (gap: clamp( 0.0000000625rem , -0.8626390407rem  +  1.3927573816vw , 0.3125rem )) {
    .bottom-header .logo {
      gap: clamp( 0.0000000625rem , -0.8626390407rem  +  1.3927573816vw , 0.3125rem );
    }
}

@supports not (gap: clamp( 0.0000000625rem , -0.8626390407rem  +  1.3927573816vw , 0.3125rem )) {
    .bottom-header .logo {
      gap: calc(0.0000000625rem + 0.3124999375 * (100vw - 61.9375rem) / 22.4375);
    }
}
}

@media (min-width: 47.99875em) {
  .footer__main {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .list-services__slider {
    display: none;
  }

  .list-services__grid {
    display: -ms-grid;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    gap: 24px 38px;
  }
}

@media (min-width: 61.99875em) {
  [class*=__container] {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }

  [class*=__container][class*=__container_slider] > * {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }

  .footer__main {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 30em) {
  .news__text {
    font-size: 0.875rem;
  }

  .news__slide {
    max-width: 250px;
  }

  .card-news__title {
    font-size: 0.875rem;
  }
}

@media (max-width: 61.99875em) {
@supports (padding-left: clamp( 1.5rem , -2.9007347314rem  +  11.735292617vw , 4.375rem )) {
    [class*=__container] {
      padding-left: clamp( 1.5rem , -2.9007347314rem  +  11.735292617vw , 4.375rem );
    }
}

@supports not (padding-left: clamp( 1.5rem , -2.9007347314rem  +  11.735292617vw , 4.375rem )) {
    [class*=__container] {
      padding-left: calc(1.5rem + 2.875 * (100vw - 37.5rem) / 24.49875);
    }
}

@supports (padding-right: clamp( 1.5rem , -2.9007347314rem  +  11.735292617vw , 4.375rem )) {
    [class*=__container] {
      padding-right: clamp( 1.5rem , -2.9007347314rem  +  11.735292617vw , 4.375rem );
    }
}

@supports not (padding-right: clamp( 1.5rem , -2.9007347314rem  +  11.735292617vw , 4.375rem )) {
    [class*=__container] {
      padding-right: calc(1.5rem + 2.875 * (100vw - 37.5rem) / 24.49875);
    }
}

@supports (padding-left: clamp( 1.5rem , -2.9007347314rem  +  11.735292617vw , 4.375rem )) {
    [class*=__container][class*=__container_slider] > * {
      padding-left: clamp( 1.5rem , -2.9007347314rem  +  11.735292617vw , 4.375rem );
    }
}

@supports not (padding-left: clamp( 1.5rem , -2.9007347314rem  +  11.735292617vw , 4.375rem )) {
    [class*=__container][class*=__container_slider] > * {
      padding-left: calc(1.5rem + 2.875 * (100vw - 37.5rem) / 24.49875);
    }
}

@supports (padding-right: clamp( 1.5rem , -2.9007347314rem  +  11.735292617vw , 4.375rem )) {
    [class*=__container][class*=__container_slider] > * {
      padding-right: clamp( 1.5rem , -2.9007347314rem  +  11.735292617vw , 4.375rem );
    }
}

@supports not (padding-right: clamp( 1.5rem , -2.9007347314rem  +  11.735292617vw , 4.375rem )) {
    [class*=__container][class*=__container_slider] > * {
      padding-right: calc(1.5rem + 2.875 * (100vw - 37.5rem) / 24.49875);
    }
}

  .card {
    padding: 30px 32px 40px 32px;
  }

  .icon-menu-close {
    display: block;
    position: absolute;
    top: 16px;
    right: 17px;
    cursor: pointer;
  }

  .icon-menu-close::before {
    width: 3.125rem;
    height: 3.125rem;
    color: #fff;
    font-size: 3.125rem;
  }

  .icon-menu-close:hover::before {
    color: #4f8ff0;
  }

  .menu__body {
    position: absolute;
    top: -100dvh;
    left: 0;
    height: 100dvh;
    width: 100%;
    background-color: #222222;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__list {
    height: 100%;
    overflow-y: scroll;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-top: 75px;
    margin-left: 25px;
    padding-bottom: 50px;
    gap: 40px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    font-size: 1.75rem;
  }

  .icon-menu {
    display: block;
    cursor: pointer;
  }

  .icon-menu::before {
    width: 2rem;
    height: 2rem;
    color: #fff;
    font-size: 2rem;
  }

  .footer__text {
    display: none;
  }

  .footer__links {
    display: none;
  }

  .contact__value {
    font-size: 0.875rem;
  }

  .about__img {
    display: none;
  }

  .about__buttons {
    margin-top: 36px;
  }

  .news__slide {
    max-width: 336px;
  }
}

@media (max-width: 61.99875em) and (max-width: 21.875em) {
  .icon-menu::before {
    width: 28px;
    height: 28px;
    font-size: 1.75rem;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: min-height 0.2s;
    transition: min-height 0.2s;
  }

  .card {
    padding: 24px 16px 32px 16px;
  }

  .footer__logo {
    margin: 0 auto;
  }

  .footer__contacts {
    gap: 16px;
  }

  .leading-lawyer__text {
    max-width: 500px;
  }

  .subfooter__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
  }
}

@media (max-width: 37.5em) {
  .top-header__email {
    display: none;
  }

  .main-slider .swiper-control {
    display: none;
  }

  .about__buttons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .staff__title:not(:last-child) {
    margin-bottom: 16px;
  }

  .staff__text:not(:last-child) {
    margin-bottom: 30px;
  }

  .card-staff {
    max-width: 250px;
  }

  .card-staff__img {
    height: 235px;
  }

  .clients__top:not(:last-child) {
    margin-bottom: 24px;
  }

  .clients__slider {
    margin-bottom: 24px;
  }

  .clients__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .card-clients {
    padding: 24px;
  }

  .card-clients__avatar {
    width: 50px;
  }

  .card-clients__name {
    font-size: 1.125rem;
  }

  .card-clients__decor {
    display: none;
  }
}

@media (max-width: 22.8125em) {
  .top-header__phone {
    font-size: 0;
  }
}

@media (max-width: 21.875em) {
  .logo {
    font-size: 1.125rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 61.99875em) {
  [class*=__container] {
    padding-left: inherit;
  }

  [class*=__container] {
    padding-right: inherit;
  }

  [class*=__container][class*=__container_slider] > * {
    padding-left: inherit;
  }

  [class*=__container][class*=__container_slider] > * {
    padding-right: inherit;
  }
}

@media (any-hover: hover) {
  .card:hover .card__angles-left::before {
    top: 20px;
    left: 20px;
  }

  .card:hover .card__angles-left::after {
    bottom: 20px;
    left: 20px;
  }

  .card:hover .card__angles-right::before {
    top: 20px;
    right: 20px;
  }

  .card:hover .card__angles-right::after {
    bottom: 20px;
    right: 20px;
  }

  .card:hover {
    color: #fff;
    background-color: #4f8ff0;
  }

  .card:hover .card__icon::before {
    color: #fff;
  }

  .card-news:hover .card-news__angles-left::before,
  .card-news:hover .card-news__angles-left::after,
  .card-news:hover .card-news__angles-right::before,
  .card-news:hover .card-news__angles-right::after {
    -webkit-transition: all 0.3s ease 0.2s;
    transition: all 0.3s ease 0.2s;
  }

  .card-news:hover .card-news__angles-left::before {
    top: 20px;
    left: 20px;
  }

  .card-news:hover .card-news__angles-left::after {
    bottom: 20px;
    left: 20px;
  }

  .card-news:hover .card-news__angles-right::before {
    top: 20px;
    right: 20px;
  }

  .card-news:hover .card-news__angles-right::after {
    bottom: 20px;
    right: 20px;
  }
}

.webp .clients{ background: url(../img/clients/clients_bg.webp) bottom/cover no-repeat; }